<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarManiobra( input.value )" type="text" class="form-control" placeholder="Buscar maniobra...">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button [routerLink]="['/maniobra','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
              <i class="fa fa-plus"></i> 
              Añadir nueva maniobra
            </button>
                </div>

                <h3 class="card-title">Maniobras registrados ( <small>{{totalRegistros}}</small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Entrada</th>
                            <th>Salida</th>
                            <th>Operador</th>
                            <th>Placas</th>
                            <th>Fletera</th>
                            <th>Contenedor</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Carga</th>
                            <th>Descarga</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let maniobra of maniobras">
                            <td>{{maniobra.entrada}}</td>
                            <td>{{maniobra.salida}}</td>
                            <td>{{maniobra.operador}}</td>
                            <td>{{maniobra.placas}}</td>
                            <td>{{maniobra.fletera}}</td>
                            <td>{{maniobra.contenedor}}</td>
                            <td>{{maniobra.inicio}}</td>
                            <td>{{maniobra.fin}}</td>
                            <td>
                                <input type="checkbox" [checked]="maniobra.carga" name="carga" class="form-control">
                            </td>
                            <td>{{maniobra.desc}}</td>
                            <td>
                                <button [routerLink]="['/maniobra', maniobra._id ]" class="btn btn-primary">
                          <i class="fa fa-edit"></i>
                        </button>

                                <button (click)="borrarManiobra( maniobra )" class="btn btn-danger">
                          <i class="fa fa-trash-o"></i>
                        </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                <i class="fas fa-angle-left"></i> Anteriores
              </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                  Siguientes <i class="fas fa-angle-right"></i>
            </button>
            </div>

        </div>
    </div>
</div>