<div class="row">

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>

                <table class="table table-hover" *ngIf="usuarios.length > 0">
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']" class="pointer">
                            <td>
                                <img [src]="usuario.img | imagen" class="img-50 img-circle">
                            </td>
                            <td>{{ usuario.nombre }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="usuarios.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Operadores</h4>

                <table class="table table-hover" *ngIf="operadores.length > 0">
                    <tbody>
                        <tr *ngFor="let operador of operadores" [routerLink]="['/operadores', operador._id]" class="pointer">
                            <td>
                                <img [src]="operador.img | imagen:'operador'" class="img-50 img-circle">
                            </td>
                            <td>{{ operador.operador }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="operadores.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Placas</h4>

                <table class="table table-hover" *ngIf="placas.length > 0">
                    <tbody>
                        <tr *ngFor="let placa of placas" [routerLink]="['/placas']" class="pointer">
                            <td>{{ placa.placa }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="placas.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contenedor</h4>

                <table class="table table-hover" *ngIf="contenedores.length > 0">
                    <tbody>
                        <tr *ngFor="let contenedor of contenedores" [routerLink]="['/contenedores']" class="pointer">
                            <td>{{ contenedor.contenedor }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="contenedores.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Clientes</h4>

                <table class="table table-hover" *ngIf="clientes.length > 0">
                    <tbody>
                        <tr *ngFor="let cliente of clientes" [routerLink]="['/clientes']" class="pointer">
                            <td>{{ cliente.cliente }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="clientes.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>



</div>