<div class="row animated fadeIn">

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Placa: {{ placa.placa }}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarPlaca(f)">
                        <div class="my-container">
                            <mat-form-field>
                                <input matInput [(ngModel)]="placa.placa" name="placa" type="text" class="form-control" placeholder="Ingrese las placas" required>
                            </mat-form-field>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          Guardar
                        </button>
                        <a routerLink="/placas" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>