<div class="row animated fadeIn">

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Agencia: {{ agencia.nombre }}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarAgencia(f)">
                        <div class="my-container">
                            <mat-form-field>
                                <input matInput [(ngModel)]="agencia.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de la agencia" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="agencia.rfc" name="rfc" type="text" class="form-control" placeholder="RFC" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="agencia.patente" name="patente" type="text" class="form-control" placeholder="Patente" required>
                            </mat-form-field>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          Guardar
                        </button>
                        <a routerLink="/agencias" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>