<div class="row animated fadeIn">

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Viaje: {{ viaje.viaje }}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarViaje(f)">
                        <div class="my-container">
                            <!--========input viaje=========-->
                            <mat-form-field>
                                <input matInput [(ngModel)]="viaje.viaje" name="viaje" type="text" class="form-control" placeholder="Ingrese el viaje" required>
                            </mat-form-field>
                            <!--========Combombox Buque=========-->
                            <mat-form-field class="buque">
                                <mat-select placeholder="Seleccione un Buque" (selectionChange)="cambioBuque( $event.value )" [(ngModel)]="viaje.buque" name="buque" required>
                                    <mat-option *ngFor="let buque of buques" [value]="buque._id">
                                        {{ buque.buque }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!--========input fecha arrivo=========-->
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="viaje.fechaArrivo" name="fechaArrivo" type="text" class="form-control" placeholder="Fecha de arrivo" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <!--========input fecha temporal=========-->
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker2" [(ngModel)]="viaje.fechaVigenciaTemporal" name="fechaVigenciaTemporal" type="text" class="form-control" placeholder="Vigencia del temporal" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <!--========Combombox Naviera=========
                            <mat-form-field class="naviera">
                                <mat-select placeholder="Seleccione una Naviera" (selectionChange)="cambioNaviera( $event.value )" [(ngModel)]="viaje.naviera" name="naviera" required>
                                    <mat-option *ngFor="let naviera of navieras" [value]="naviera._id">
                                        {{ naviera.naviera }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>-->
                            <!--<mat-form-field>
                                <input matInput [(ngModel)]="viaje.contenedor" name="contenedor" type="text" class="form-control" placeholder="Ingrese el contenedor" required>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Seleccione una contenedor" name="contenedor" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let contenedor of contenedores" [value]="contenedor.contenedor">
                                        {{contenedor.contenedor}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field class="tipo">
                                <mat-select placeholder="Seleccione el tamaño" [(ngModel)]="viaje.tipo" name="tipo" required>
                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                                        {{tipo.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="v/i">
                                <mat-select placeholder="Seleccione si es vacio o importación" [(ngModel)]="viaje.vacioimportacion" name="vacioimportacion" required>
                                    <mat-option *ngFor="let vacioimport of vacioimports" [value]="vacioimport.value">
                                        {{vacioimport.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngFor="let contenedor of contenedores; let i = index">
                                <mat-slide-toggle [checked]="flagArray[i]">
                                    {{contenedor.contenedor}}
                                </mat-slide-toggle>
                            </div>-->
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                              <i class="fa fa-save"></i>
                              Guardar
                            </button>
                        <a routerLink="/viajes" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <mat-card>
            <h3>Seleccione archivos</h3>
            <input type="file" (change)="cargarCVS($event.target)" name="file" accept="*.csv" />
            <h4>Cargar archivos</h4>
            <button (click)="cargarCVS()" class="btn btn-success">Cargar CSV</button>
            <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Contenedor</th>
                        <th>Tipo</th>
                        <th>Peso</th>
                        <th>Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contenedorcsv of contenedorescsv">
                        <th>{{contenedorcsv.contenedor}}</th>
                        <th>{{contenedorcsv.tipo}}</th>
                        <th>{{contenedorcsv.peso}}</th>
                        <th>{{contenedorcsv.cliente}}</th>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </div>
</div>

<!--<div class="container" style="margin-top: 15px;text-align: -webkit-center;">
    <div class="panel panel-default" style="width: 70%;text-align: -webkit-center;">

     
        <div class="panel-body" style="text-align: -webkit-center;">
            <div *ngFor="let data of myItems;let i= index" class="alert alert-info" style="width: 50%;">
                {{data.Value}}
                <a href="#" (click)="DeleteItem(i)" style="float: right;">
                    <span class="fa fa-save"></span>
                </a>
                <a href="#" (click)="EditItem(i)" style="float: right;padding-right: 8px;">
                    <span class="fa fa-save"></span>
                </a>
            </div>
            <div *ngIf="myItems.length == 0" class="alert alert-info" style="width: 50%;">
                Items Are Empty !!!
            </div>
        </div>
      
        <div class="panel-footer">
            <div class="form-group">
               
                <form name="itemForm">
                    <input id="Value" name="Value" required [(ngModel)]="newItem.Value" minlength="3" maxlength="10" style="width: 50%;" placeholder="Enter Any Item" class="form-control">
                </form>
                <br>
               
                <button type="submit" (click)="AddItem()" [disabled]="IsForUpdate == true" class="btn btn-default">Add</button>
              
                <button type="submit" (click)="UpdateItem()" [disabled]="IsForUpdate == false" class="btn btn-default">Update</button>
            </div>
        </div>
    </div>
</div>-->